################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MySharePointApp/.vs
/MySharePointApp/MySharePointApp/bin
/MySharePointApp/MySharePointApp/obj
/MySharePointApp/MySharePointApp/pkgobj
/MySharePointApp/MySharePointAppWeb/bin
/MySharePointApp/MySharePointAppWeb/obj
/MySharePointApp/packages
/MySharePointApp/_ReSharper.Caches/ReSharperPlatformVs15183_df77351a.MySharePointApp.00
*.user